// Colors
$white_color: white;
$blue_color: #2f89fc;
$color_star: #f89d13;
$gray_star: #6c757d;
$red_color: #f23a2e;
$text_color: rgba(0, 0, 0, 0.5);
$section_color: #f8f9fa;
$footer_color: #333333;
$text_gray: #737373;

$minTablet: "(min-width: 768px)";
$minComputer: "(min-width: 992px)";
$maxMobile: "(max-width: 767px)";
$maxTablet: "(max-width: 768px)";
$maxComputer: "(max-width: 1182px)";

// Images
$img_Hero: url("../../../images/hero_2.jpg.webp");
